#main
	svg#kodama(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 2700 700')
		g#art(fill='none', fill-rule='evenodd')
			g#bg5.layer
				path#Rectangle(fill='#000000', d='M0 0h2700v700H0z')
				path#Combined-Shape(fill='#181818', d='M1223.7 136.8l4-195.2 339 11.6-8.2 971.2-115 2.3 9.3-858.7-111.4 28-47.6 821.4-86 1.2 6.8-331.3L616 462.6 639.2 278l436.4 116-23.2-165.8L637 94.7l16-159 570.7 201zm753.7 761l88.3-590.7-30.2 590.7 142.7 1.2 37.2-1099-117.2 50-113.8 217-57 821.4 50 9.3z')
			g#bg4.layer(fill='#313131')
				path#Combined-Shape(d='M786-62h401v163.7L1509 24l90-60 118 36-172 101.7L1194.8 232l3.8 146 372.7-170.2L1802 0h71l-233.3 294-429.4 232.4.3 110.4 429-221.8 7 154.3-429.4 184.5-6 99.6.2 43-4.6 32.6h-139.3l2-29-197 4.7L828.7 580l-273-74.5L558 415l271 70.3z')
			g#bg3.layer(fill='#4E4E4E')
				path#Combined-Shape(d='M2011-69L2243.3-49l-26.7 46.5-144 116s-83.4 50-113.6 271.5c-4.8 34.7-10.4 61-16.4 81v429.6h-328.4V875l-80-121.2-120.8-16.2-217 46.4-149.8 89.3-181 21-153.3-46.5-1-91.7L862 798l144-7 94-40.7-184.6-27.8L809.8 653 627 605.2 441 737.6l25.5-44L627 547l180.5 16.5L949 682l97.6 9.2 116 16.2 46.5-21 76.7-6.8 173-74.3 120.6 22-17.4-225-112.7-170.6-247.2-94-189-15L906 47l-184.6-51-37-30.3 37-35 122 65 208.8 60.4L1212.6 83 955-53.7h154.3L1278.7 68s19.2-35 16.3-52.2c-4.8-28.4-39.5-84.7-39.5-84.7h64l89.2 180 93 52.2 87 139.2-50-355 75.5-4.5 243.6-1 21 180.6L2011-69z')
			g#bg2.layer
				path#Path-5(fill='#686767', d='M2338 0l-11 101.7-153.4-54.5-61.5-147.4V28.6l-112.5 4.6-190.3-123-332 11.6s49.3 15.7 98.4 35.4c7.3 3-81 94-74 97 5.6 2.4 106.8-83.2 112.2-80.7 29.5 13.6 53.4 27.6 58.4 38.8 5.8 13.2-34.8 13.4-34.8 13.4L1547.8 89l27.8 12.7 61.8-32.5 67.3-22-67.3 87 26.3-8.5 74.7-100h70.8l-41.8 76h9.3l67.3-89.4 257.6 66.2L2327 245l-34 455h303L2570 0h-232z')
				path#leaf(fill='#B3B3B3', d='M1643.4-70.5c2-1 4-1.4 6.2-1.2 6.8.6 11.8 7 11.2 14.4-.2 2-.8 4-1.7 5.6 3-.8 6.8-1 10.8-.8 4 .4 7.8 1.4 10.6 2.8 1-1.5 2-3 3.5-4.2-7.4-.2-13-2-13-4.5 0-2.8 7-5 16-5.3 8.7 0 16 2 16 4.7 0 .8-.7 1.7-2 2.4l.3.4c1.2 1.7 1.5 4 1 6.2 1.5.3 2.6 1 3 1.8.8 1.6-.3 3.8-2.8 6.2 1 0 1.7.3 2.6.6.4-2.8 2-5.8 4.3-8.5-1.4-.5-2.5-1.5-3-2.8-2-4.3 1.7-10.3 8.3-13.4 5.5-2.6 11.2-2.3 14.2.3l1-.6c1.5-.7 3-.8 4.5-.4-3-1.4-5-3.6-4.8-6 .2-4 6.3-7.2 13.8-7 7.5.4 13.4 4 13.3 8 0 .6-.2 1.2-.4 1.7 1.7-1 3.8-1.8 6-1.8 6.8-.2 12.5 5.6 12.6 13 0 2-.4 4-1 5.8 2.8-1 6.4-1.8 10.4-2 4.2 0 8 .7 11 1.7 1-2 2.3-4 4.3-6 5.3-5 12.4-6 15.7-2.6 3.2 3.4 1.5 10.3-4 15.3-1.6 1.7-3.5 3-5.4 3.7l1 .7.3.6c.7-1.2 1.6-2.4 2.6-3.4 5-4.7 13-4 18 1.4 1.7 1.7 2.8 3.7 3.4 5.8l2.6-1.3c.6-1.4 1.3-2.2 2.2-2.3 1-.2 1.8.4 2.8 1.5.4 0 .7.3 1 .5 1-1 2-1.6 3.4-1.7 4.4 0 8.3 7.3 8.7 16.5 0 4.6-.6 8.8-2 12 1-.6 2-1 3-1 2 0 4 1 5.7 3 .7.3 1.5.5 2.2 1-1-3.7-.4-9.7 1.4-16.2 2.8-9.8 7.8-17 11.2-16 3.4 1 3.8 9.7 1 19.5l-1 3.4c3.3-2.2 7-2.8 10.5-2 4.2-4 8-5.8 9.7-4.5 1.5 1.3.5 5-2.2 9.6 3.5 5.6 1.4 13.3-4.7 17.3-1.7 1-3.5 1.8-5.3 2 2.3 2 4.6 4.4 6.6 7.5 1.6 2.5 2.7 5 3.5 7 2.8-1 6-1 9-.2 7.3 2 11.6 9 9.7 15.6-2 6.6-9.3 10.3-16.4 8.2-2-.5-4-1.5-5.3-2.8.2 3-.2 7-1.3 10.7-2.6 9-8.2 15.5-12.4 14.2-4.3-1.2-5.6-9.5-3-18.6 1.4-4.6 3.5-8.6 6-11.2-1.5.6-3 .7-4.3.3-4.5-1.2-6.6-8-4.6-15 .6-2 1.4-3.7 2.4-5.2 0-.4-.3-1-.4-1.3v.2c-1 3.2-2.6 6-4.5 7.8.7 1.6 1 3.4 1.3 5.3.2 2 .2 3.7 0 5.3.2 2-.2 4-1.2 6.4l1 1c3.6 5.8 1.5 13.6-4.6 17.6-2 1.2-4 2-6 2.2 2.8 1.8 5.6 4.7 8 8.3 5 7.8 6 16 2.3 18.6-3.8 2.5-11-1.8-16-9.6-2.5-4-4-8-4.5-11.2-.5 1-1 1.7-2 2.2-4 2.7-10.6-.2-14.6-6.4-1-1.8-2-3.7-2.5-5.5l-1.4-1c-1.6-1.5-2.8-3-3.6-4.8-1 3-3 6-5.5 9.2l-1.6 1.7c.2 1.5-1 3.4-3 5.5.5.4.8 1 1 1.3 3.2 4.8 2.3 11-2 15.4 3 .8 4.5 2 4.6 3.2 0 2-3.5 3.7-8.7 4.6 1.2 1.4 2.4 3 3.5 4.7 5 7.8 6.2 16 2.4 18.6-4 2.5-11-1.8-16-9.6-2.6-4-4-8-4.6-11.2-.4 1-1 1.7-2 2.2-3.7 2.4-9.4.2-13.4-5-1.4 1.4-3 2.6-5 3.5-1.5.6-3 1-4.5 1.4.2 0 .3.3.5.5 3-1.2 6-1.4 8.6-.8l1-.7c3.5-1 8.4 6.4 11 16.2 2.3 8.5 2.2 16 0 18.7-1 3.4-3.2 6.3-6.5 8-6 2.8-13.7-.4-16.8-7-.8-1.7-1.2-3.3-1.3-5-1 1-1.7 1.3-2.4 1-2 1.6-4.2 3-6.7 4-8.7 4-17 4-19 0-1.8-4 3.6-10.4 12-14.4 4-1.8 7.6-2.8 10.8-3v-1c-.5-.6-1-1.2-1.2-2-1.7-3.4.5-8 5-11.3.6-1.3 1.3-2.3 2-3-2.8 0-5.2-.6-6.8-2l-1.2.6c-1.4.7-3 .8-4.4.4 3 1.4 5 3.6 4.8 6 0 4-6.3 7.2-13.8 7-7.4-.4-13.4-4-13.2-8 0-.6 0-1 .4-1.7-1.8 1-3.8 1.8-6 1.8-7 0-12.5-5.7-12.6-13 0-2.2.3-4 1-6-2.8 1.2-6.5 2-10.5 2s-8-.5-11-1.6c-.6 1.5-1.6 3-2.8 4.5 7.3-.4 13 1 13.2 3.3.4 2.7-6.5 5.8-15.2 6.8-8.8 1-16.2-.2-16.5-3 0-.8.5-1.7 1.7-2.6l-.3-.4c-1.4-1.5-2-3.7-1.5-6-1.8-.2-3-.6-3.5-1.5-1-1.5 0-3.8 2-6.5-.7 0-1.6 0-2.4-.3 0 2.8-1.2 6-3.3 8.8 1.5.6 2.7 1.4 3.4 2.7 2.5 4-.6 10.4-6.8 14-5.2 3.3-11 3.6-14.2 1.4l-1 .8c-1.3.8-3 1-4.4.8 3.2 1 5.3 3 5.4 5.4.3 4-5.5 7.8-13 8.4-7.4.5-13.7-2.4-14-6.5 0-.6 0-1.2.3-1.7-1.7 1.3-3.6 2-5.8 2.4-6.8.8-13-4.4-14-11.7-.2-2 0-4 .6-6-2.7 1.5-6.3 2.6-10.2 3-4 .6-8 .4-11-.4-.7 2-2 4.2-3.7 6.2-4.8 5.6-11.6 7.6-15.2 4.4-3.7-3-2.7-10.2 2-15.8 1.7-1.8 3.5-3.2 5.3-4.2-.3 0-.6-.3-1-.6 0-.2-.3-.4-.4-.6-.5 1.3-1.2 2.6-2 3.7-4.6 5.2-12.6 5.4-18.2.5-1.8-1.5-3-3.4-4-5.4-3.5 2.6-6.7 3.6-8.3 2.5-.8 1-2 1.8-3 2-4.6.6-9.2-6.3-10.5-15.5-.6-4.6-.3-8.8.7-12-1 .6-1.8 1-2.8 1-4.4.7-8.8-3.8-10.2-10.3-1.4.8-2.8 1-4.2.8-4.7-.8-7.4-7.3-6.2-14.5 1-6 4.6-10.5 8.4-11.4v-1.4c.2-.8.5-1.5 1-2.2-.5 0-1-.3-1.3-.5-2 .6-3.8.4-5-.6-1.8-1.3-2.3-3.6-2-6.4l-.3-.7c-1.2-2.5-2-5-2-7.2-.5.8-1 1.4-1.6 1.8 1 1 2 2 2.6 3.2 1.5 3 1.6 6.2.6 9.2 1 2.6 1.4 6 .8 9.5-1.3 7.2-6 12.4-10.7 11.6-4.2-.7-6.8-5.8-6.5-12-.2 0-.4 0-.6-.2-3 4-8 6.2-13.6 5.3-7.3-1.2-12.3-7.8-11-14.5 1-6.8 8-11.2 15.3-10l3 1 2-2.3c0-2.2.2-4.6.6-7 .4-2.2 1-4.3 1.6-6-3.5-8-3.5-15.5.3-17.4 4-2 10.6 3 15 11.3 1.8 4 3 7.8 3 11 .7-1.3 1.7-2.3 3-3 2.5-1.3 6-.4 9 2 2.3-1.4 4.6-2 6.4-1.3 0-.3.4-.6.6-.8 0-.3-.3-.6-.4-.8-2-3.7.3-8.6 5-11 4.4-2.3 9.7-1.2 11.6 2.5 0 .4.2.7.4 1 1.7.4 3.4 1 5 2.2 1.8 1 3 2.5 4.2 4 .7-3 2.2-6.3 4.5-9.6 2.2-3.4 5-6.2 7.4-8-1-2-2-4.3-2.3-7-1-6.7 1.6-12.6 5.7-14v-.2c-.6-1.6.7-3.6 3.2-5.6-.5-.5-.8-1-1-1.5-2.6-5-1-11 3.6-15-2.7-1-4.2-2.4-4-3.7 0-2 3.8-3.3 9-3.7-1-1.5-2.2-3.2-3-5-4.3-8.3-4.5-16.7-.5-18.7s10.7 3 15 11.2c2 4 3 8.2 3.2 11.6.6-1 1.4-1.6 2.3-2 4-2 9.4.8 12.8 6.2 1.5-1 3.4-2 5.4-2.8 1.5-.5 3-.8 4.6-1-.2 0-.3-.3-.4-.5-3.3.7-6.4.6-8.8-.3l-1.2.6c-3.5.6-7.6-7.2-9.2-17.2-1.3-8.7-.4-16.3 2-18.6 1.3-3.3 3.8-6 7.3-7.2 6.6-2.2 13.8 1.7 16.2 8.8.6 1.6 1 3.3.8 5 1-.8 1.7-1 2.4-1 2-1.2 4.5-2.3 7-3.2 9-3 17.4-2.2 18.8 2 1.5 4.2-4.6 10-13.5 13.2-4 1.3-7.8 2-11 1.8 0 .4 0 .7-.2 1 .5.7 1 1.3 1.2 2 1.2 3.7-1.4 8-6 10.8-1 1.3-1.8 2.2-2.6 2.8 3 .2 5.3 1.2 6.8 2.8.3-.3.7-.5 1.2-.6 1.4-.5 3-.4 4.4 0-2.8-1.6-4.5-4-4.2-6.3.6-4 7-6.4 14.5-5.4 7.4 1 13 5.2 12.3 9.3 0 .4-.3 1-.6 1.5z')
			g#bg1.layer(fill='#7F7F7F')
				path#Path-2(d='M715.8 784l245-126.5L1202 465l256.6-83.7 149.8-112.5 163.6-22 162.5 59L2054 328l98.7-12.8 119.3-70.8 226-97.5 202-180-40-15-189 162.5-184.2 13L2352-26h-46l-52.3 140.5-82.4 81.2-137 48.7-196-59.2 47.5-55.7 67.3 4.7L2065.8 67l130-22.2L2250-26l-45.3-7-82.5 51-88.2 9.4-105.6 58 135.8-160-62.7-10.5-109 152h-43l-47.6 80-96.3 22-155.7 29-68.5 73-371.4 158H1079L905 541.4 364 738z')
			g#fg.layer
				g#kodama1.kodama(transform='translate(1239.27 100.535)')
					path#Path-15(fill='#D8D8D8', d='M37 96.3l-17.3 23.2-3.5 50 9.3 4.6 4.7 68.5L46.4 253l-1-55.7 5.7-4.7v62.7l7 1 14-38.2 2.3-39.3 7-8 2.3-38.4-7-23.2-21-17.3z')
					g#kodamaHead1
						path#Path-14(fill='#D8D8D8', d='M70.8 0l-44 9.3S0 36 0 38.3c0 2.3 15 50 15 50l21 10.3 34.8-5.8 29-18.5 4.7-22L91.7 15 80 2.4 71 0z')
						ellipse#Oval-11(cx='76', cy='64.4', fill='#323232', rx='11', ry='12.2')
						ellipse#Oval-12(cx='22.6', cy='34.2', fill='#323232', rx='4.1', ry='6.4')
						ellipse#Oval-13(cx='33.1', cy='70.2', fill='#323232', rx='9.9', ry='12.2')
				g#kodama2.kodama(transform='translate(1328.64 237.46)')
					path#Path-18(fill='#BEBEBE', d='M23.2 146.2l-17.4-14 7-30L30.2 94l31.3 3.5 12.8 23.2 2.3 19.7-12.8 24.4-26.7-2.3z')
					path#Path-16(fill='#D8D8D8', d='M51 178.7L62.8 160H79l3.4 10.6-16.2 16.2z')
					path#Path-17(fill='#D8D8D8', d='M45.3 174v-25.5l-14-8-25.5 9.2z')
					g#kodamaHead2
						path#Path-19(fill='#D8D8D8', d='M0 73L34.8 100h31.4l22-15 11.6-28-7-32.4L67.4 0 28 8 0 40.7z')
						ellipse#Oval-14(cx='20.3', cy='48.7', fill='#323232', rx='8.7', ry='10.4')
						ellipse#Oval-15(cx='52.8', cy='77.7', fill='#323232', rx='9.9', ry='7')
						ellipse#Oval-16(cx='84.1', cy='60.3', fill='#323232', rx='9.9', ry='12.8')
				g#kodama3.kodama(transform='translate(1587.467 213.09)')
					path#Path-20(fill='#D8D8D8', d='M59.2 254l1.2-60.2L72 176.4l-9.3-57L30.2 101 0 150.8V189l8 14 1.3 53.4z')
					g#kodamaHead3
						path#Path-21(fill='#D8D8D8', d='M25.5 2.3L57 0l22 17.4 7 37-11.7 26.8-22 25.6-26.8 4.6L2.3 98.6 0 63.8v-36z')
						ellipse#Oval-17(cx='22.1', cy='27.8', fill='#323232', rx='8.1', ry='8.1')
						ellipse#Oval-18(cx='71.4', cy='51.1', fill='#323232', rx='9.9', ry='10.4')
						ellipse#Oval-19(cx='31.3', cy='73.7', fill='#323232', rx='7', ry='6.4')
				g#tree
					path#Path-13(fill='#121212', d='M1338 497.4v218l7-249.3 33.5 9.3L1361 633l9.4-177.4 46.5 12.8-2.5 234.4 11.6-257.6 51.2 30-8 102.2 19.6-128.8-146.2-22z')
					path#Path-13-Copy(fill='#121212', d='M1372.7 532.2v218l7-249.3 33.7 9-17.4 158 9.2-177.6 46.5 12.8-2.4 234.4L1461 480l51 30-8 102.3 19.6-128.8-146.2-22z')
					path#Path-8(fill='#B2B2B2', d='M848 118l15.2-29-40.6-6L847 61l-30.2 3.6 27.8-37.2-31.3 14-21-21-10.3 51L731 46l17.3 45.3-29 26.6h53.4l-10.5 40.6 47.6-45.3z')
					path#branch(fill='#8A8A8A', d='M589 189L822.6 56.4l86-8 128.7-140.5L1324-78.3 984 209.6l-130 44-138.2 127.7z')
					path#Path-3(fill='#B2B2B2', d='M728.6 207.3L804 162l48.8 4.7 104.4 7 223-17.5 66 171.8 190.4 94 169.4 43 119.6-3.6 144-27.8L2033 364l120.7-38.4 331-75.6-207 95.4 121 186.8L2250.2 378l-154.4 74-127.6 54.7-170.7 25.5L1917 624l28 60.2 119.5 40.6L2241 763v51.2L2066.7 762l125.4 77.7-41.8 8-164.8-94-75.5-5.7-37-92.8-142.8-79-133.4-12.7-173-25.5-161.3-65-96.4-52.2-56.7-104.4-233.3 29L602 395l-58 353H0L98 0h553l-49 173.6z')
					path#leaf(fill='#D8D8D8', d='M2064.4 409.2c-1.5-2.5-2.6-5.2-3.5-8-1.4-4.7-1.7-9.4-1.3-13.8 0-.3-.3-.5-.4-.8-6.2 4.4-14.4 8.4-23.7 11-22.7 6.5-43.6 3.2-46.6-7.4-3-10.6 13-24.4 35.6-31 4.2-1 8.4-2 12.4-2.6 2.6-3.3 8.3-4.5 15.3-3.7-1-1.5-1.7-3-2.2-4.6-2-8 2.7-16.6 11.8-23-.5-.5-1-1-1.3-1.7-5.3 6.7-23.6 11-45.2 10.4-25.5-.8-46-8.6-45.6-17.4.3-8.7 21.3-15 46.8-14.2 12.3.5 23.5 2.5 31.7 5.5 1-1.2 2.2-2.3 3.4-3.5v-.5c-5 1-10.7 1-16.5 0-15.6-3-26.8-13.7-24.8-23.8.2-1.2.6-2.3 1-3.3-10-7.4-16-14.8-14-19 3-6 20-3.6 38.7 5-8-6.5-12-17.4-10-28.7 1.2-5.7 3.8-10.7 7.3-14.7-9.4-4.4-15-9.6-14.2-14 1-4.2 7.3-7 16.6-7.6l1-1.6c7-12.5 24-16.3 37.5-8.4 4 2.2 7 5 9.5 8.4l.6-2.8c-3.3-1.8-7-4-10.4-6.5-16-11-26-24-22.5-29 3.6-5 19.3 0 35.2 11 2.2 1.6 4.3 3.2 6.2 4.8 10-16.3 24-25.8 31.7-21.3 6.7 3.8 6.8 16.3 1.3 30h3c-.3-1.4-.2-2.7 0-4 2-10 15.5-15.5 30.6-13-10.3-6-16.2-18.4-13.6-31.4 3-16 17.7-26.6 32.7-23.7 15 3 24.6 18.3 21.5 34.3-.8 4.4-2.5 8.3-5 11.7 6.7-1 14.7-.7 23 1 1.7.2 3.5.6 5.2 1 9.2-11.6 20-17.7 26.7-14 6.7 4 6.7 17 .8 31.2 1 2.2 1.5 4.4 1 6.5-.5 3-2.7 5.6-6 7.5.4 1 .8 2.2 1 3.4 1 3.7 1.3 7.5.7 11 4.7-3.3 11-6.2 18.2-8 17-4.7 32.5-2 34.6 6 2 8-10 18-27 22.7-8.8 2.4-17.2 2.8-23.6 1.4 2.2 1.8 3.8 4 4.5 6.5 1.4 5-1 10.3-6 14.6 2.2 4.5 3.3 9.4 3 14.5 2.7-.6 5.4-.2 8 1-5.2-3.7-8-8.3-7-12.5 1.5-7.5 14-11.2 27.5-8.3 7.8 1.6 14.3 5 18.2 9.2 2.3.5 4.6 1.5 6.7 2.8 3.6 2 6.5 4.5 8.8 7.4.3 0 .6.2.8.3 1.2-6.3 4-13.4 8-20.5l3.8-6c-1-7.8.3-13.4 3.8-15.3 2.5-1.3 5.8-.6 9.6 1.6 5.8-4 11.3-5.3 15.3-3 5.5 3 6.6 12 3.7 22.8 2.5 3.8 5 7.8 7.2 12 2.5 5 4.7 9.7 6.4 14.3.2 0 .4-.3.5-.4-3.8-14 0-27.3 9-30.4 1-.4 2.3-.6 3.5-.7 1.2-12.7 4.7-21.4 9.4-21.7 6.4-.5 12.8 15.4 14.7 36 1.8-10 9.2-19 20-23 5.5-1.8 11.2-2 16.3-1-1-10.4.8-18 5-19.4 7.3-2.5 19 12.7 26.4 34 5.7 16.5 7 32 4 39l.7-.4c5-2.6 10-4 15-4.2-2.7-6.4-3.8-17.7-2.7-30.5 1.7-19.4 8-34.7 14-34 6 .4 9.6 16.5 8 36-1.2 12.8-4.4 23.8-8 29.6 7 2 13.4 6.7 17.4 13.3 1-1 2.2-1.6 3.5-2 9.4-3.3 21 5.6 26.5 20 0-11.8 8-23 20.5-27.4 15.4-5.4 32 2 37 16.4 5 14.4-3.6 30.4-19 35.7-4.3 1.5-8.6 2-12.7 1.7 4 5.2 8 12.2 10.7 20 6.8 20 4.7 38.6-4.6 41.8-9.3 3.2-22.4-10.2-29.3-30-3.6-10.7-4.7-21-3.5-28.8-1.7 2.5-4 4.4-6.7 5.3-8.8 3-19.7-4.7-25.5-17.7-1.7 2.2-3.7 4-6 6-1 3.8-3 7-5.5 9 .7 1 1.2 2 1.6 3.3 1.5 4.2.7 8.7-1.7 12.7 0 .3.2.5.3.7 4-8.5 10.3-13.8 16.4-13 9 1.3 14.6 15.5 12.3 31.7-1.3 9.2-4.8 17-9.3 22 .8 1.4 1.6 3 2 4.6 5 14.4-3.4 30.4-19 35.7-4 1.4-8.4 2-12.5 1.6 4.2 5.3 8 12.2 10.7 20.2 6.7 19.8 4.7 38.5-4.7 41.7-9.3 3.2-22.4-10.2-29.2-30-3.6-10.7-4.7-21-3.5-29-1.7 2.7-4 4.5-6.7 5.5-9.7 3.3-21.8-6.2-27-21.3 0-.2 0-.4-.2-.5h-1c-1 0-2-.2-3-.4 3 4 4.7 9 5 14.2 1 16-11 30-27.8 33 2.6 9.8-.8 20.3-9.3 25.8l-2.8 1.6c.3 9.7-1 18.7-3.2 25.7 5.6 2 11.3 5.4 16.5 10.4 13 12.7 17 30 9 38.3-8 8-24 5.4-37-6 6.6 12 4.4 27.8-6.3 39-4.8 5-10.7 8.2-17 9.8 6.5 10 8.6 18.7 5 22.4-6 6.2-26-3-44.3-20.8-18.3-17.7-28.3-37.2-22.2-43.4 4-4 13.5-1.7 24.8 5.3 1.4-6 4.4-11.7 9-16.5.2 0 .3-.3.5-.4-7.7 2-19.3 2.3-32 .5-3.5-.5-6.8-1-10-1.8 1 6-.3 11.4-4 15.2-7.2 7.4-21.8 5.5-34.2-4 .3.6.5 1 .6 1.6 1.5 5.6-.5 11.7-5 17-.8 1.7-1.7 3.2-3 4.5-2.2 2.4-5 3.8-8.4 4.4-2.3 1.2-4.7 2.3-7.3 3 13.5.5 26.2 10.3 30.4 25 5.2 18-4 36.3-20.5 41-16.5 4.8-34-6-39-23.8-1.5-4.7-1.8-9.4-1.3-14-4.7 4-10 6.4-15.4 7.5-2.8 1.2-5.8 2.3-9 3.2-22.6 6.5-43.5 3.2-46.5-7.4-.7-3 0-6.2 1.8-9.5-4.4-3-9.2-7.8-14-13.5-10.2-12.7-15.3-25.7-11.3-29 4-3 15.6 4.6 26 17.3 4 5.2 7.3 10.3 9.5 14.8 2-1.5 4.5-3 7-4.4 0-4.8 1-9.8 3.2-14.5l-7.2-3.4c-11-5.7-19.8-12.6-23.6-18.3-4 .2-7.8-.3-11.5-1.6-5 6-16.8 6.5-27.7 1-10.2-5.2-16.5-14.2-15.7-21.5-1-.2-2-.5-2.8-1-2-1-3.5-2.5-4.6-4.3-.4 0-.8 0-1.2.2.8 5.5-.3 10.2-3.6 12.6-6.2 4.5-17.8-.8-26-12-6.3-1.7-10.7-4.8-12-9.3-1-3.2 0-6.8 2.2-10.3l-1.3-.7c-11.5-5.8-15.7-20.5-9.4-32.8 1.6-3.3 4-6 6.6-8.3-5.6-.8-12-2.8-18.3-6-15.7-8-25.3-20.5-21.6-28 3.8-7.4 19.6-7 35.3 1 5.7 3 10.6 6.5 14.3 10-4.2-6-5.6-11.6-3.3-15.8 4.8-8.5 23.4-7.3 41.7 3 9.6 5.2 17 11.8 21.5 18.2-.6-3.3-.2-6.4 1.3-9.2 3.8-6.8 13.6-9 24-6.5-.3-6 1-11.4 4-15-.4 0-.7-.2-1-.4-3-1.7-5.2-4.4-6.4-7.6 1.4 7.3 0 13.5-4.3 16.4-7.6 5-21.2-1.8-30.4-15.5-5.2-8-8-16.2-8-22.8z')
					g#veg
						path#Path-9(stroke='#979797', stroke-width='5', d='M1008.3 179.4L984 255l1 228.5 64-15-7-310-51 1.2L952.5 277l3.5 110L969 526.5l51 190.3')
						path#Path-7(fill='#D8D8D8', d='M1024.6 109.8L955 46l25.4 62.7-75.4 4.6 52.2 27.8-60.3 31.5 65-4.7-8.2 46.5 40.6-22 12.7 45.2 26.8-50 67.4 37.2-9.3-43 27.7 16.3-25.5-52.2 15-18.6-47.5-1 36-50-47.6 17.4-4.6-29z')
						path#Path-7-Copy(fill='#D8D8D8', d='M961.5 464.7L867 469l62.5 26-50 56.7 56.6-17.2-20.5 64.8 42.7-49.2 27 38.6 13.2-44.3 41 23L1023 513l74-21.2-37-23.8 31.2-8.2-55-19-2.5-23.7-34.5 33-9.8-60.8-21.3 46-23.7-17.2z')
						path#Path-7-Copy-2(fill='#D8D8D8', d='M1685.6 519.4l-89 31.5 58.8 11.4-59 121.8 45.7-48.6 13.4 91.6 11.5-118 14.6-15.7 25.8 152.2V602L1744 727V584.7l64 134.3-28.2-139.6-21.2-31.7 77.2 88-42.6-110.7 29.8-19.4-42.3-12 27.4-17-58-1.8-9.3-22-23.4 41.4-27-55.2-7 50.2-28-9.5z')
						path#Path-10(fill='#D8D8D8', d='M984 588l-45.3 12.7-10.5 39.4 48.8-42.8-15 38.3V675l20.8-61.6 7 51 14-26.6-8.3-40.6 21 14-21-37.2z')
						path#Path-10-Copy(fill='#D8D8D8', d='M1038 317.7l72 20.4 16.7 63.2-77.6-68.6 24 61V457l-33.2-98.3-11 81.6-22.2-42.6 13-64.8-33.4 22.2 33.3-59.3z')
						path#Path-11(fill='#D8D8D8', d='M725 347.7L824 321v181l20.8-157.8 7 120.7 30.2-140.5L883 277l-3.5-45.3L724 272.3z')
						path#Path-12(fill='#D8D8D8', d='M1119.7 301.3s26.7 73 26.7 88.2c0 15-1 61.5-1 61.5l26.6-2.4V473l47.5-23.2s29-37 29-7c0 30.2-3.4 65-3.4 65l30.3-83.5V502l31.3-55.7 21 54.6 59-45.4-267-154.3z')
					g#blobs(fill='#D8D8D8', transform='translate(725.262 171.318)')
						g(transform='translate(335.268 18.566)')
							ellipse#Oval-8(cx='73.7', cy='8.7', rx='15.7', ry='8.7')
							ellipse#Oval-8-Copy(cx='15.7', cy='20.3', rx='15.7', ry='8.7')
							ellipse#Oval-8-Copy-2(cx='48.2', cy='27.3', rx='15.7', ry='8.7')
							ellipse#Oval-8-Copy-7(cx='143.3', cy='66.7', rx='15.7', ry='8.7')
							ellipse#Oval-8-Copy-6(cx='85.3', cy='78.3', rx='15.7', ry='8.7')
							ellipse#Oval-8-Copy-5(cx='117.8', cy='85.3', rx='15.7', ry='8.7')
							ellipse#Oval-8-Copy-9(cx='131.7', cy='41.2', rx='15.7', ry='8.7')
							ellipse#Oval-8-Copy-10(cx='131.7', cy='20.3', rx='15.7', ry='8.7')
							ellipse#Oval-8-Copy-3(cx='94.6', cy='31.3', rx='22.6', ry='12.8')
							ellipse#Oval-8-Copy-8(cx='106.2', cy='59.2', rx='22.6', ry='12.8')
							ellipse#Oval-8-Copy-4(cx='59.8', cy='49.9', rx='22.6', ry='12.8')
						g#blobs-copy(transform='rotate(164 71.736 40.51)')
							ellipse#Oval-8(cx='65', cy='5.8', rx='13.9', ry='5.8')
							ellipse#Oval-8-Copy(cx='13.9', cy='13.9', rx='13.9', ry='5.8')
							ellipse#Oval-8-Copy-2(cx='42.9', cy='17.4', rx='13.9', ry='5.8')
							ellipse#Oval-8-Copy-7(cx='125.4', cy='44.1', rx='13.9', ry='5.8')
							ellipse#Oval-8-Copy-6(cx='75.4', cy='51.1', rx='13.9', ry='5.8')
							ellipse#Oval-8-Copy-5(cx='103.3', cy='55.7', rx='13.9', ry='5.8')
							ellipse#Oval-8-Copy-9(cx='116.1', cy='26.7', rx='13.9', ry='5.8')
							ellipse#Oval-8-Copy-10(cx='116.1', cy='13.9', rx='13.9', ry='5.8')
							ellipse#Oval-8-Copy-3(cx='82.4', cy='19.7', rx='19.7', ry='8.1')
							ellipse#Oval-8-Copy-8(cx='92.9', cy='38.3', rx='19.7', ry='8.1')
							ellipse#Oval-8-Copy-4(cx='52.2', cy='32.5', rx='19.7', ry='8.1')
						ellipse#Oval-9(cx='778.1', cy='343.5', rx='14.5', ry='8.1')
						ellipse#Oval-10(cx='834.3', cy='356.8', rx='13.9', ry='8.7')
						ellipse#Oval-10-Copy(cx='743.8', cy='335.9', rx='13.9', ry='8.7')
						ellipse#Oval-9-Copy(cx='851.2', cy='351.6', rx='14.5', ry='8.1')
						ellipse#Oval-10-Copy-2(cx='816.9', cy='344', rx='13.9', ry='8.7')
						g#Group-7(transform='translate(895.864 316.78)')
							ellipse#Oval-9-Copy-3(cx='33.7', cy='11.6', rx='10.4', ry='5.8')
							ellipse#Oval-10-Copy-5(cx='73.7', cy='20.9', rx='9.9', ry='5.8')
							ellipse#Oval-10-Copy-4(cx='9.9', cy='5.8', rx='9.9', ry='5.8')
							ellipse#Oval-9-Copy-2(cx='84.7', cy='17.4', rx='10.4', ry='5.8')
							ellipse#Oval-10-Copy-3(cx='60.9', cy='11.6', rx='9.9', ry='5.8')
						g#Group-7-Copy(transform='rotate(-166 561.443 94.352)')
							ellipse#Oval-9-Copy-3(cx='33.7', cy='11.6', rx='10.4', ry='5.8')
							ellipse#Oval-10-Copy-5(cx='73.7', cy='20.9', rx='9.9', ry='5.8')
							ellipse#Oval-10-Copy-4(cx='9.9', cy='5.8', rx='9.9', ry='5.8')
							ellipse#Oval-9-Copy-2(cx='84.7', cy='17.4', rx='10.4', ry='5.8')
							ellipse#Oval-10-Copy-3(cx='60.9', cy='11.6', rx='9.9', ry='5.8')