#main {
  height: 100%;
  overflow: hidden;
  position: absolute;
  width: 100%;
}

svg {
  height: 700px;
  left: 50%;
  position: relative;
  top: 50%;
  transform: translate(-50%, -50%);
}

.kodama {
  opacity: 0;
}
